<div class="container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>settings</mat-icon></button>
        <h1 class="app-name" (click)="snav.toggle()">Learn words in Hiragana</h1>
        <div class="grower"></div>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="'over'"
                    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <div class="settings" *ngIf="state">
                <div class="settings__header">
                    <h2>Settings</h2>
                    <!-- <button mat-icon-button (click)="clearSettings()"><mat-icon>refresh</mat-icon></button> -->
                </div>

                <h3>Known kana</h3>

                <div class="row" *ngFor="let h of hiraganaList">
                    <mat-checkbox [ngModel]="getHiraganaSetting(h)" (ngModelChange)="setHiraganaSetting(h, $event)">{{h}}</mat-checkbox>
                </div>
        
                <!-- <div class="row">
                    <mat-checkbox [(ngModel)]="state.normalize" (ngModelChange)="normalizeChange()">Population-relative</mat-checkbox>
                    
                    <div class="grower"></div>
                    <mat-form-field class="inline">
                        <mat-label>Per this population:</mat-label>
                        <input matInput [(ngModel)]="state.normalizePopulation" (ngModelChange)="settingChange()" type="number" min="1" max="10000000000">
                    </mat-form-field>
                </div> -->

                <h2>Sources</h2>
                <p><a href="https://en.wiktionary.org/wiki/Appendix:1000_Japanese_basic_words">Wikitionary</a></p>
                <p><a href="https://github.com/rsheptolut/hiragana">Source code for this app</a></p>
            </div>
        </mat-sidenav>

        <div class="main-panel">
            <div class="kana">
                <a href="#" (click)="showKana = true" *ngIf="!showKana">(show Kana)</a>
                <p class="kana__word" *ngIf="showKana">{{word.kana}}</p>
            </div>
            <div class="romanji">
                <a href="#" (click)="showRomanji = true" *ngIf="!showRomanji">(show Romanji)</a>
                <p class="romanji__word" *ngIf="showRomanji">{{word.romanji}}</p>
            </div>
            <div class="english">
                <a href="#" (click)="showEnglish = true" *ngIf="!showEnglish">(show English)</a>
                <p class="english__word" *ngIf="showEnglish">{{word.english}}</p>
            </div>
            <div class="kanji">
                <a href="#" (click)="showKanji = true" *ngIf="!showKanji">(show Kanji)</a>
                <p class="kanji__word" *ngIf="showKanji">{{word.kanji}}</p>
            </div>
            <br/><br/><br/><br/>
            <button mat-button (click)="showNextWord()">Next word</button>
        </div>
    
    </mat-sidenav-container>
</div>