/* You can add global styles to this file, and also import other style files */

*, *:before, *:after {
    box-sizing: inherit;
}

html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: "ヒラギノ角ゴ Pro W3", "Microsoft YaHei", Osaka, STXihei, STHeiti, Roboto, "Helvetica Neue", sans-serif; 
    box-sizing: border-box;
}

.mat-body, .mat-body-1, .mat-typography {
    font-family: "ヒラギノ角ゴ Pro W3", "Microsoft YaHei", Osaka, STXihei, STHeiti, Roboto, "Helvetica Neue", sans-serif; 
}